<!DOCTYPE html>
html
    head
        include parcials/header
    body.login
        .contenedor-formulario
            h1 Reestablecer Password

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error

            form#formulario.caja.caja-login(method="post" action="/reestablecer")
                .campo
                    label(for="email") E-mail
                    input(type="email" name="email" placeholder="Tu email" value= email)
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer")
                .campo.acciones
                    a(href="/crear-cuenta") Crear cuenta
                    a(href="/iniciar-session") Iniciar session