doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    style 
        include ./email.css
  body(style='font-family: sans-serif;')
    .main(style='display: block; margin: auto; max-width: 600px;')
      h1(style='font-size: 18px; font-weight: bold; margin-top: 20px') Congrats for sending test email with Mailtrap!
      p
        | Inspect it using the tabs you see above and learn how this email can be improved.
      img(alt='Inspect with Tabs', src='cid:welcome.png', style='width: 100%;')
      p 
        a(href=`${resetUrl}`) El enlace para reestablecer tu password
    // Example of invalid for email html/css, will be detected by Mailtrap:
    style.
      .main { background-color: white; }
      a:hover { border-left-width: 1em; min-height: 2em; }